doctype html
html
   head
      title
      link(rel='stylesheet', type='text/css', href='style.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
   body
      .nav
         ul
            li
               a(href='/') Home
            li
               a(href='/login') Login
            li
               a(href='/signup') Sign up
      h1 Sign Up
      .slide-show
         form(action='/addPost' method='POST')
            input(type="text", alt=`${first}`, placeholder=`${first}`)
            input(type="text", alt=`${second}`, placeholder=`${second}`)
            button(type='submit') Submit
         a(href='login') Login
      .banner
         table
      .footer
      script.
         $(document).ready(function(){
         
         })
